<p id="notice"><%= notice %></p>

<h1>Facility Booking Application</h1>
<br>
<%= link_to("Book a room", { controller: "bookings", action: "index" }) %>
<br>
<%= link_to("Create a room [ Only for admins ]", { controller: "rooms", action: "index" }) %>
<br>
<%= link_to("Create a user [ Only for admins ]", { controller: "users", action: "index" }) %>